<% layout('layouts/boilerplate.ejs') -%>

<div class="col-8 offset-2">
  <h1 class="mt-3 text-center">Edit <%=coffeeshop.title%>'s Image</h1>
  <form
    action="/coffeeshops/image/<%=coffeeshop._id%>?_method=PUT"
    method="POST"
    class="mt-3 validated-form text-center"
    enctype="multipart/form-data"
    novalidate
  >
    <!-- //bug in the application - if you try to edit image and don't upload
  //the image, you can still submit the form. Joi doesn't have file attachment
  //validation -->

    <div class="form-group mb-3">
      <label for="image" class="form-label">Please select an image</label>
      <input class="form-control" type="file" id="image" name="image" />
    </div>
    <button type="submit" class="mt-3 btn btn-success">Submit change</button>
    <a
      href="/coffeeshops/<%=coffeeshop._id%>"
      class="mt-3 btn btn-light d-block"
      >Back to <%=coffeeshop.title%></a
    >
  </form>
</div>
