<% layout('layouts/boilerplate.ejs') -%>

<div class="md-col-6 offset-2">
  <h1 class="mt-3 text-center">Add new coffee shop</h1>
<form action="/coffeeshops" method="POST" class="my-3 validated-form" novalidate enctype="multipart/form-data">
    <div class="form-group mb-3">
      <label for="title">Coffee shop name</label>
      <input
        type="text"
        class="form-control"
        id="title"
        aria-describedby="title"
        placeholder="Enter title"
        name="coffeeshop[title]"
        required
      />
      <div class="valid-feedback">
        Title looks good!
        </div>
        <div class="invalid-feedback">
          Please provide a valid title.
        </div>
    </div>
    
    <div class="form-group mb-3">
      <label for="location">Location</label>
      <input
        type="text"
        class="form-control"
        id="location"
        placeholder="Enter location"
        name="coffeeshop[location]"
        required
      />
      <div class="valid-feedback">
        Location looks good!
        </div>
        <div class="invalid-feedback">
          Please provide a valid location.
        </div>
    </div>
    <div class="form-group mb-3">
   <input type="file" name="image">
  </div>
    <!-- <div class="form-group mb-3">
      <label for="title">Image Upload</label>
      <input
        type="text"
        class="form-control"
        id="title"
        aria-describedby="title"
        placeholder="Enter url"
        name="coffeeshop[image]"
        required
      />
      <div class="valid-feedback">
        Image looks good!
        </div>
        <div class="invalid-feedback">
          Please provide a valid image url.
        </div>
    </div> -->
    <div class="form-group mb-3">
      <label for="price">Price</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">$</div>
        </div>
        <input
          type="number"
          class="form-control"
          id="price"
          step='any'
          placeholder="0.00"
          name="coffeeshop[price]"
          required
        />
        <div class="valid-feedback">
          Price looks good!
          </div>
          <div class="invalid-feedback">
            Please provide a valid price.
          </div>
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="description">Description</label>
      <textarea
        type="text"
        class="form-control"
        id="description"
        aria-describedby="description"
        placeholder="Please type here"
        name="coffeeshop[description]"
        required
      /></textarea>
      <div class="valid-feedback">
        Description looks good!
        </div>
        <div class="invalid-feedback">
          Please provide a valid description.
        </div>
      </div>
    <button type="submit" class="mt-3 btn btn-success">Add Coffee Shop</button>
    
    <a href="/coffeeshops" class='mt-3 btn btn-light d-block'>Back to all coffee shops</a>

 
</form>

